.aside {
	padding-bottom: 20px;
	& ul {
		padding-left: 16px;
	}

	& ul li {
	}
		float: left;
		background-color: #EFEFEF;
		width: 360px;
	&__figure {
		height: 300px;
		width: 300px;
		background-color: #ffffff;
		margin: 25px auto;
	}

	&__title {
		text-align: center;
		font-size: 30px;
		line-height: 1.501;
		margin-bottom: 0;
		font-family: $helvetica;
	}

	&__dummy-banner {
		text-align: center;
		padding-top: 140px;
		font-size:15px;
		font-family: $helvetica;
	}
	&__hr {
		border-top: 2px solid #000000;
    	width: 300px;

	}
	&__article-image {
		width: 112px;
		height: 77px;
		float: left;
		padding: 2px 11px;

	}

	&__article {
		padding: 5px 15px;
		display: inline-block;

	}

	&__article-title {
		font-size: 12px;
		margin: 0;
		font-weight: bold;
		line-height: 1.35em;

	}

	&__article-title:hover {
		color:#E7B92F; 

	}

	&__article-item-date {
		font-size: 11px;
		color: #9c9c9c;
		font-family: $helvetica;

	}
	&__small-banner {
		background-color: #666666;
		height: 100px;
		width: 310px;
		margin: 0px 12px;
		color: #ffffff;

	}

	&__small-text {
		padding-top: 40px;
		text-align: center;
		font-family: $helvetica;

	}
}
