.aside {
	& ul {
		padding-left: 16px;
	}

	& ul li {
	}
		float: left;
		background-color: #EFEFEF;
		width: 360px;
	&__figure {
		height: 300px;
		width: 300px;
		background-color: #ffffff;
		margin: 25px auto;
	}

	&__title {
		text-align: center;
		font-size: 30px;
		line-height: 1.501;
		margin-bottom: 0;
	}

	&__dummy-banner {
		text-align: center;
		padding-top: 140px;
		font-size:15px;
	}
	&__hr {
		border-top: 2px solid #000000;
    	width: 310px;

	}
	&__article-image {
		width: 112px;
		height: 64px;
		float: left;
		padding: 2px 10px;

	}

	&__article {
		padding-bottom: 10px;

	}

	&__article-title {
		font-size: 13px;
		margin: 0;
		font-weight: bold;
		line-height: 1.35em;
		padding-right: 18px;

	}

	&__article-title:hover {
		color:#E7B92F; 

	}

	&__article-item-date {
		font-size: 11px;
		color: #9c9c9c;

	}
	&__small-banner {
		background-color: #666666;
		height: 100px;
		width: 310px;
		margin: 15px 10px;
		color: #ffffff;

	}

	&__small-text {
		padding-top: 40px;
		text-align: center;

	}
}
