main {
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
	margin-top: 40px;
}
.content {
		float: left;

	& ul {
		list-style-type: none;
	}

	&__article {
		width: 720px;
		float: left;
	}

	&__article-item-date {
		display: block;
		margin: 10px;
		font-size: 14px;
		color: $gray;
		font-family: $helvetica;
	}
	
	&__article-blog {
		margin-bottom: 30px;
		display: inline-block;
		margin-right: 22px;
	}

	&__article-image {
		height: 150px;
		width: 225px;
		float: left;
		padding: 0 7px;
	}

	&__article-title {
		font-size: 17px;
		font-weight: bold;
		margin: 1px;
		letter-spacing: 0.04em;
	}

	&__article-title:hover {
		color: $lightyellow; 
	}

	&__article-short {
		font-size: 12px;
		margin: 0;
		letter-spacing: 0.04em;
	}
}
