.footer {
	padding: 10px;
	background-color: $black;
	clear: both;

	&__btn-up {
		cursor: pointer;
		float: right;
		margin-top: -5%;
		margin-right: 9%;
		width: 36px;

	}

	&__nav {
		&--left {
			margin-left: 9.5%;
			color: $white;
			display: inline-block;
		}

		&--second {
			margin-left: 2.5%;
			color: $white;
			display: inline-block;
			text-align: center;
			font-family: $helvetica;
		}

		&--right {
			margin-right: 9%;
			float: right;
			color: $white;
			display: inline-block;
			text-align: center;
			font-family: $helvetica;
		}
	}
}

.footer__more {
	clear: both;
    background-color: $black;
    width: 400px;
    padding: 7px;
	margin: 0 auto 10%;

	&--text {
		color: $white;
		text-align: center;
		font-family: $helvetica;
	}
}
.footer__arrow {
	width: 18px;
	display: block;
	float: right;
	margin-top: -40px;
	margin-right: 15px;
}
