@font-face {
	font-family: 'Lucida Calligraphy';
	src: url('./lucida_calligraphy.ttf');
}

.header {
	padding: 22px;
	border-top: 2px solid #E7B92F;
	

	&__title {
		font-family: 'Lucida Calligraphy';
		margin: 0;
		text-align: center;
		font-size: 60px;
		letter-spacing: 5px;
	}
}


